<div class="row">
  <div class="small-11 medium-7 large-5 small-centered columns">
    <%= form.label :description, "New Task" %>
    <%= form.text_field :description, class: "radius" %>
  </div>

  <div class="small-11 medium-7 large-5 small-centered columns">
    <%= form.submit "Save new task", class: "register button expand" %>
  </div>
</div>
