<div class="row">
  <section id=<%= "task-#{task.id}" %>
        class="task small-11 medium-10 large-8 small-centered columns">
    <%= link_to task, method: :delete, remote: true do %>
      <i class="checkbox"></i>
    <% end %>
    <h2><%= task.description %></h2>
    <small><%= task.days_left %> days left</small>
  </section>
</div>
