<section id="task-list">
  <div class="row">
    <h1>Current Tasks</h1>
  </div>

  <div id="tasks">
    <%= render @tasks %>
  </div>

  <div id="new-task" class="row">
    <%= render partial: 'tasks/form', locals: { task: @new_task } %>
  </div>
</section>

<footer>
  <small>
    Get support <a href="https://twitter.com/feedthebayer">@feedthebayer</a>
  </small>
</footer>
