<section id="task-list">
  <div class="row">
    <h1>Current Tasks</h1>
  </div>

  <% @tasks.each do |task| %>
    <div class="row">
      <section class="task small-11 medium-10 large-8 small-centered columns">
        <a href="#"><i class="checkbox"></i></a>
        <h2><%= task.description %></h2>
        <small>
          <%= 7 - (Time.now - task.created_at).to_i / 1.day %> days left
        </small>
      </section>
    </div>
  <% end %>

  <div class="row">
    <section class="small-11 medium-10 large-8 small-centered columns">
      <%= form_for @new_task do |form| %>
        <%= render partial: '/tasks/form', object: form %>
      <% end %>
    </section>
  </div>
</section>
