main#landing-page {
  background-color: #FFF;
}

#hero-wrapper {
  background: $light-green;
  padding: 8em 0 3.5em;

  @media #{$medium-up} {
    padding: 12em 0 3.5em;
  }

  .content {
    @include grid-column(12);
    text-align: center;

    h1, h2 {
      font-weight: 300;
    }

    h1 {
      color: $faded-white;
      font-size: 3.5em;
      letter-spacing: -0.03em;
      padding-bottom: 1em;
    }

    h2 {
      color: rgba(255,255,255,0.85);
      font-size: 1.8em;
      font-style: italic;
      padding-bottom: 1.5em;
    }
  }
}


#belief-wrapper {
  text-align: center;
  padding: 5em 0 1em;

  h1 {
    @include grid-column(12);
    color: $dark-blue;
    margin-bottom: 1em;
  }

  .content {
    padding-bottom: 2em;

    p {
      margin: 0 0.2em;
    }
  }
}

#app-wrapper {
  text-align: center;

  .content {
    @include grid-column(12);

    h2 {
      color: $dark-blue;
      margin: 2.5em 0;
    }

    h1.logo {
      font-size: 3em;

      @media #{$medium-up} {
        font-size: 6em;
      }

      @media #{$large-up} {
        font-size: 10em;
      }

      margin-bottom: 3rem;
    }

    img {
      border: 1px solid black;
      margin-bottom: 3rem;

      @media #{$medium-up} {
        margin-bottom: 5rem;
      }
    }
  }

  .copy {
    @include grid-column($columns:12);

    @media #{$medium-up} {
      @include grid-column($columns:8, $center:true);
    }
  }
}

#cta-wrapper {
  text-align: center;
  padding: 3em 0;

  .content {
    @include grid-column(12);
  }
}

#footer-wrapper {
  text-align: center;
  padding: 4em 0;
  background: $dark-blue;
  color: rgba(255,255,255,0.80);

  .content {
    @include grid-column(12);
  }
}
