<%= content_for :title, "TaskThresher" %>

<header id="header-wrapper">
  <section class="content">
    <h1 class="logo">
      <span class="first">Task</span><span class="second">Thresher</span>
    </h1>
    <nav>
      <a href="#" class="sign-in">Sign In</a>
    </nav>
  </section>
</header>

<section id="hero-wrapper">
  <div class="row">
    <section class="content">
      <h1>Your to-do list has become <strong>unwieldy</strong></h1>
      <h2>You need something that actually works</h2>
    </section>
  </div>
  <div class="row">
    <div class="content">
      <a href="#" class="register">Register for Free!</a>
    </div>
  </div>
</section>

<section id="belief-wrapper">
  <div class="row">
    <h1>We believe...</h1>
  </div>
  <div class="row">
    <section class="content medium-4 columns">
      <p>Most important tasks naturally surface to the top.</p>
    </section>
    <section class="content medium-4 columns">
      <p>Menial tasks should be avoided like the plague.</p>
    </section>
    <section class="content medium-4 columns">
      <p>Putting tasks on paper helps maintain focus.</p>
    </section>
  </div>
</section>

<section id="app-wrapper">
  <div class="row">
    <section class="content">
      <h2>So we created a to-do list that thinks like us.</h2>
    </section>
  </div>
  <div class="row">
    <section class="content">
      <h1 class="logo">
        <span class="first">Task</span><span class="second">Thresher</span>
      </h1>
    </section>
  </div>
</section>

<section id="cta-wrapper">
  <div class="row">
    <section class="content">
      <a href="#" class="register">Register for Free!</a>
    </section>
  </div>
</section>

<footer id="footer-wrapper">
  <div class="row">
    <section class="content">
      <small>A project by <a href="http://brandon.bayer.ws">Brandon Bayer.</a></small>
    </section>
  </div>
</footer>



